*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("image/login.png");
    background-size: cover;
    font-family: sans-serif;
}
.form-box{
    width: 400px;
    background: rgba( 0, 0, 0, 0.5);
    margin: 5% auto;
    padding: 60px 0;
    color: rgb(234, 78, 12);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
.input-box{
    margin: 20px auto;
    width: 80%;
    border-bottom: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}
::placeholder{
    color: white;
}
.fa{
    margin-right: 3px;
}
.eye{
    position: absolute;
}
#hide1{
    display: none;
}
.login-btn{
    margin: 20% auto;
    width: 100px;
    display: block;
    outline: 2px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid white;
    font-size: 15px;
    background: transparent;
    color: white;
}